<td><%= app.AppNumber %></td>
<td>
  <span class="label label-warning"><%= app.AppClass %></span>
</td>
<td>
  <span class="label label-info"> <%= app.AppCategory%></span>
</td>
<td><%= app.AppName %></td>

<td>
  <span class="label label-success"><%= app.AppPackageName %></span>
</td>

<td><%= app.AppVersion %></td>
<td><%= app.AppNativeCode %></td>
<td><%= app.ApkStatus %></td>
<td><%= app.ApkResult %></td>
<td><%= app.AppInstallResult%></td>
<td><%= app.AppLaunchResult %></td>
<td><%= app.AppMonkeyResult %></td>
<td><%= app.Tester %></td>
<td><%= app.TesterResult %></td>
