<ul>
<% @testruns.each do |testrun| %>
  <li>
	<%= link_to testrun.TestRun_Time, testrun_apps_path(testrun) %>
	<%= testrun.TestRun_Path%>
	<%= testrun.Product%>
	<%= testrun.SerialNumber%>
	<%= testrun.DeviceVersion%>
	<%= testrun.AndroidVersion%>

 <%= link_to 'Delete' , testrun_path(testrun), :method => :delete %>
 
   </li>
<% end %>
</ul>